.credit-cards-section {
  background-color: #6e63f8;
  border-radius: 8px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  margin: 5px 0 5px 0;
  width: 280px;
}

.credit-cards-section .account-div {
  margin: 20px 0 0 20px;
  width: 255px;
}

.credit-cards-section .credit-cards-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 20px 20px;
  width: 240px;
}
