* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b1b8d4;
  display: grid;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  place-items: center;
}

.card {
  background-color: #ebebeb;
  border-radius: 4px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 25rem;
  padding: 1rem;
}

.card__image {
  background-color: orange;
  border-radius: 4px;
  height: 6rem;
  margin-right: 1rem;
  width: 6rem;
}

.card__text .heading {
  font-size: 1.4em;
  margin-bottom: 4px;
}

.card__text .paragraph {
  font-size: -8em;
}

.loading {
  background-color: #b8b8b8;
  overflow: hidden;
  position: relative;
}

.heading.loading,
.paragrapgh.loading {
  border-radius: 4px;
  margin-bottom: 1rem;
  min-height: 40%;
}

.loading::after {
  animation: loading 1s infinite;
  background-image: linear-gradient( to left, transparent, rgba(255, 255, 255, .5), transparent);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transform: translateX(-100%);
  top: 0;
  width: 100%;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}